# creating dataframe and adding multiple complex queries

In [108]:
import pandas as pd
import numpy as np

In [ ]:
arr=(np.random.rand(20,6)*10)
arr1=[1,2,3]

array([[2.28539488, 7.48139939, 4.05053792, 1.80399093, 2.07217982,
        3.75891538],
       [3.17330978, 2.54235136, 3.67733007, 5.68827075, 3.6191208 ,
        9.07646237],
       [9.30954957, 8.43572574, 4.32881039, 5.60901293, 4.9062032 ,
        8.00015233],
       [5.79300853, 4.53894394, 3.6354696 , 7.79872695, 0.52810201,
        9.2982863 ],
       [1.7380941 , 5.51823575, 0.6662455 , 9.29802294, 3.35410859,
        9.84053311],
       [3.0005937 , 9.5586948 , 5.50215868, 1.93160515, 1.63419503,
        7.56709142],
       [3.47121081, 0.58308127, 0.69254544, 3.40913072, 2.70356107,
        6.15239638],
       [3.01922828, 4.30532208, 3.1847011 , 2.56420293, 9.01700139,
        1.86728439],
       [4.25161431, 9.94716215, 4.32713061, 7.3576273 , 5.08618192,
        3.94335526],
       [2.44405054, 7.50821252, 2.82543739, 5.01060823, 0.32220931,
        7.32226271],
       [1.16728186, 6.2984801 , 8.35925061, 5.62010628, 6.98292112,
        8.77119817],
       [2.50252966, 0.82921216, 2.13224675, 0.3959039 , 0.86788284,
        4.1729111 ],
       [8.70089712, 9.35441826, 0.02450403, 4.94188309, 5.70627569,
        4.55274698],
       [2.05668463, 4.00892847, 9.00704693, 1.57866363, 4.03603838,
        7.27684739],
       [1.12896221, 2.76413577, 2.17869127, 1.59994093, 5.26774261,
        7.81290723],
       [4.44471909, 8.16439224, 4.04921971, 8.46475694, 3.86193781,
        9.10299174],
       [4.51289143, 1.58621932, 0.43449972, 6.56073051, 1.32858082,
        3.559007  ],
       [5.25225846, 5.73142631, 4.14404514, 7.92971993, 2.74353671,
        3.79365441],
       [1.6908363 , 8.93387447, 9.76550047, 9.16705926, 1.80491504,
        8.95448777],
       [4.74788005, 0.75011745, 2.29484448, 2.98760639, 8.82652028,
        7.21427883]])

## Making DataFrame

In [110]:
df = pd.DataFrame(arr)
df.columns=['a','b','c','d','e','f']
df

           a         b         c         d         e         f
0   2.285395  7.481399  4.050538  1.803991  2.072180  3.758915
1   3.173310  2.542351  3.677330  5.688271  3.619121  9.076462
2   9.309550  8.435726  4.328810  5.609013  4.906203  8.000152
3   5.793009  4.538944  3.635470  7.798727  0.528102  9.298286
4   1.738094  5.518236  0.666246  9.298023  3.354109  9.840533
5   3.000594  9.558695  5.502159  1.931605  1.634195  7.567091
6   3.471211  0.583081  0.692545  3.409131  2.703561  6.152396
7   3.019228  4.305322  3.184701  2.564203  9.017001  1.867284
8   4.251614  9.947162  4.327131  7.357627  5.086182  3.943355
9   2.444051  7.508213  2.825437  5.010608  0.322209  7.322263
10  1.167282  6.298480  8.359251  5.620106  6.982921  8.771198
11  2.502530  0.829212  2.132247  0.395904  0.867883  4.172911
12  8.700897  9.354418  0.024504  4.941883  5.706276  4.552747
13  2.056685  4.008928  9.007047  1.578664  4.036038  7.276847
14  1.128962  2.764136  2.178691  1.599941  5.267743  7.812907
15  4.444719  8.164392  4.049220  8.464757  3.861938  9.102992
16  4.512891  1.586219  0.434500  6.560731  1.328581  3.559007
17  5.252258  5.731426  4.144045  7.929720  2.743537  3.793654
18  1.690836  8.933874  9.765500  9.167059  1.804915  8.954488
19  4.747880  0.750117  2.294844  2.987606  8.826520  7.214279

## conditioning

In [111]:
# df.loc[(df['a']>2) & (df['d']<5)] # condition is applied here
# df=df.loc[(df['a']>2) & (df['d']<5),['f']]*100  # only data of f will be shown
# df.loc[(df['a'] > 2) & (df['d'] < 5),['a','d']] =123456
# df.loc[(df['a'] > 2) & (df['d'] < 5), ['a', 'd']]*100
# condition =(  (df['a'] > 2) & (df['d'] < 5))
# df.loc[condition] =8888
df.loc[(df['a']>3)&(df['b']>5),['a','b','c'],]
an=df.loc[(df['a']>3)&(df['b']>5),['a','b','c'],]
an.reset_index()# will start indexing from 0
an.loc[ :,['a']]=str('Animesh')
an

C:\Users\anime\AppData\Local\Temp\ipykernel_16892\3559671725.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Animesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  an.loc[ :,['a']]=str('Animesh')

          a         b         c
2   Animesh  8.435726  4.328810
5   Animesh  9.558695  5.502159
8   Animesh  9.947162  4.327131
12  Animesh  9.354418  0.024504
15  Animesh  8.164392  4.049220
17  Animesh  5.731426  4.144045