# creating dataframe having nan valaues

In [8]:
import pandas as pd
import numpy as np

In [13]:

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', np.nan, 'David'],
    'Score': [95, np.nan, 85, 92],
    'Join_Date': [pd.Timestamp('2022-01-01'), pd.NaT, pd.Timestamp('2023-05-17'), pd.NaT]
})

df.head()

    Name  Score  Join_Date
0  Alice   95.0 2022-01-01
1    Bob    NaN        NaT
2    NaN   85.0 2023-05-17
3  David   92.0        NaT

In [11]:
df.dropna(inplace=True)#drop rows having any one nan value
df

    Name  Score  Join_Date
0  Alice   95.0 2022-01-01

# using HOW

In [26]:
# how-any used to update if any of row or col satisfy condition 
# how-all used to update if all the  row or col satisfy condition 

d = pd.DataFrame({
    'Name': ['Alice', 'Bob', np.nan, 'David'],
    'Score': [95, np.nan, np.nan, 92],
    'Join_Date': [pd.Timestamp('2022-01-01'), pd.NaT, pd.NaT, pd.NaT],
    'by':[np.nan,np.nan,np.nan,np.nan]
})
# d.head()
d.dropna(how='all',axis=1)

    Name  Score  Join_Date
0  Alice   95.0 2022-01-01
1    Bob    NaN        NaT
2    NaN    NaN        NaT
3  David   92.0        NaT

## Task-2

In [38]:
data={
    'x':[1,2,3],
    'y':[4,5,6],
    'z':[7,8,9],
}
df=pd.DataFrame(data)
df
# df.min()#return min value of all the cols
# df.describe()
# df.mean()#return the mean values of all depending upon axis
# df.corr()
# df.count()
# df.max()
# df.median()
df.std()

x    1.0
y    1.0
z    1.0
dtype: float64