## creating a dataframe

In [4]:
import pandas as pd
import numpy as np

In [5]:
arr=np.random.rand(10,4)*100
df=pd.DataFrame(arr)
df.columns=['a','b','c','d']
df

           a          b          c          d
0   8.407100  48.302821   6.986786  84.285661
1  78.423767  55.832623  77.318861  97.282295
2  22.876810  46.420530   9.255905  67.240381
3   2.814499  32.981131  73.399834  79.664454
4  21.940082  26.200876  31.734696   5.254013
5  57.620494  51.909107  19.820467  48.442824
6   4.841738  76.777750  84.058688  10.120979
7   2.855587  76.851727  18.818332  26.120897
8  35.987915  37.659371  89.791475  99.868220
9  58.375603  65.501174  20.183210  47.863766

## delete data from dataframe

In [6]:
newDf=df
newDf=df.drop('a',axis=1)
newDf

           b          c          d
0  48.302821   6.986786  84.285661
1  55.832623  77.318861  97.282295
2  46.420530   9.255905  67.240381
3  32.981131  73.399834  79.664454
4  26.200876  31.734696   5.254013
5  51.909107  19.820467  48.442824
6  76.777750  84.058688  10.120979
7  76.851727  18.818332  26.120897
8  37.659371  89.791475  99.868220
9  65.501174  20.183210  47.863766

## Access data from different rows and cols

In [7]:
data=df.loc[:,['b','c',]]
data
data=df.loc[[0,2,4,6],:]
df.loc[0,'a']='Animesh'

C:\Users\anime\AppData\Local\Temp\ipykernel_1792\437220805.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Animesh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[0,'a']='Animesh'