# Reading data from EXCEL

In [12]:
import pandas as pd
import numpy as np

data=pd.read_excel('Book1.xlsx')
# data.to_string()
data.iloc[0,0]='ppoo'
data.iloc[0,1]=122
print(data)

      Name  Class Grade
0     ppoo    122     A
1  Isitlit     13     B
2  denmark     12     A
3   corrty     11     B

## Adding new data to excel

In [ ]:
data=pd.read_excel('Book1.xlsx')
vl={
    'Name':['Suresh','Rakesh','Ramesh','Virat','Vijay'],
    'Class':[100,200,300,400,500],
    'Grade':['a','b','c','d','e']
}
dt=pd.DataFrame(vl)
data=pd.concat([data,dt],ignore_index=True)
data.to_excel('Book1.xlsx',index=False)

k=pd.read_excel('Book1.xlsx')
print(k)

    Unnamed: 0     Name  Class Grade
0            0  Animesh     14     A
1            1  Isitlit     13     B
2            2  denmark     12     A
3            3   corrty     11     B
4            4   Suresh    100     a
5            5   Rakesh    200     b
6            6   Ramesh    300     c
7            7    Virat    400     d
8            8    Vijay    500     e
9            9   Suresh    100     a
10          10   Rakesh    200     b
11          11   Ramesh    300     c
12          12    Virat    400     d
13          13    Vijay    500     e